{% extends 'base.html.twig' %}

{% block title %}Test React{% endblock %}

{% block body %}
    <h1 class="text-white">Test de react avec Symfony UX</h1>
    <div {{ react_component('Hello', { fullName: 'Salut test de react intégré dans Symfony' }) }}></div>
{% endblock %}
