{% extends 'base.html.twig' %}

{% block title %}LarryPDF - Convertissez vos PDFs en quelques secondes{% endblock %}

{% block body %}
    <div {{ react_component('pages/Home', {
        tools: tools,
        plans: plans,
        userPlanLevel: userPlanLevel,
        loginUrl: loginUrl,
        heroImageUrl: asset('images/ImageHeroSection.png'),
        mascotImageUrl: asset('images/Personnage1.png')
    }) }}></div>
{% endblock %}
