{% extends 'base_auth.html.twig' %}

{% block title %}Inscription - LarryPDF{% endblock %}

{% block body %}
    <div {{ react_component('pages/auth/Register', {
        csrfToken: csrf_token('register_form'),
        errors: errors,
        lastValues: lastValues,
        plans: plans,
        flashError: app.flashes('verify_email_error')|first,
        registerUrl: path('app_register'),
        loginUrl: path('app_login'),
        homeUrl: path('app_home'),
        logoUrl: asset('images/LogoLarryPDF.png')
    }) }}></div>
{% endblock %}
