{% extends 'base_tools.html.twig' %}

{% block title %}Fusionner des PDF - LarryPDF{% endblock %}

{% block body %}
    <div {{ react_component('pages/tools/MergePdf', {
        endpoint: path('app_api_convert_merge'),
        quotaUrl: path('app_api_quota'),
    }) }}></div>
{% endblock %}
