{% extends 'base_tools.html.twig' %}

{% block title %}Office en PDF - LarryPDF{% endblock %}

{% block body %}
    <div {{ react_component('pages/tools/OfficeToPdf', {
        endpoint: path('app_api_convert_office'),
        quotaUrl: path('app_api_quota'),
    }) }}></div>
{% endblock %}
