{% extends 'base_tools.html.twig' %}

{% block title %}Diviser un PDF - LarryPDF{% endblock %}

{% block body %}
    <div {{ react_component('pages/tools/SplitPdf', {
        endpoint: path('app_api_split_pdf'),
    }) }}></div>
{% endblock %}
